<form (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" [(ngModel)]="username" placeholder="Username"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Password"/>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
    <a routerLink="/register">Don't have an account? Register here!</a>
</form>
