<form (ngSubmit)="onSubmit()">
    <div>
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" id="email" [(ngModel)]="email" placeholder="Email" class="form-control"/>
    </div>
    <div>
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Password" class="form-control"/>
    </div>
    <div>
        <input type="submit" value="Login" class="btn btn-primary">
    </div>
    <a routerLink="/register">Don't have an account? Register here!</a>
</form>
